<!--返回顶部按钮-->
<div class="back-top" id="backTop">
    <i title="返回顶部/Back Top" class="fa fa-angle-up" aria-hidden="true"></i>
    <p class="back-top-tip">回到顶部</p>
</div>
<!--底部-->
<div class="footer ">
    <div class="pointcut container clearfix">
        <div class="link">
            <p>友情提示</p>
            <ul>
                <li><a href="https://github.com/Wendy123123/wendy" target="_blank">GitHub</a></li>
                <li><a href="http://blog.163.com/zj_13983777/" target="_blank">网易博客</a></li>
            </ul>
        </div>
        <div class="call">
            <p>联系我</p>
            <ul>
                <li><a href="javascript:;">QQ: 1343177851</a></li>
                <li><a href="mailto:13522225365@163.com"  target="_blank">Email: 13522225365@163.com</a></li>
            </ul>
        </div>
    </div>
    <div class="isbn">Copyright © 2016 - ~  · <a href="http://www.banzhuanke.com">Wendy</a> All Rights Reserved. Powered By Express 4.x 京ICP备16045085号-1</div>
</div>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/blogmain.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
