span,div,ul,li,body,a{list-style:none;padding:0;margin:0}
a{text-decoration:none}
#container{width:40%;margin:0 auto;background:#f1f1f1}
#nav .menu-main::after,.sub-nav-items::after{display:block;content:"";clear:both;height:0}
#nav{width:100%;background:#393755}
#nav .menu-main a{padding:0 10px;font-size:14px;color:#fff;display:block}
#nav li a{position:relative;float:left;color:#FFF;line-height:42px;text-decoration:none}
.sub-nav-items{display: none;}
.sub-nav-items .nav-item a{display:block;float:left;padding:12px 11px;font-size:14px;color:#444}
.filter-list{display: none;}
.filter-list a{padding:0 8px;display:inline-block;vertical-align:middle;text-decoration:none;margin-bottom:5px;font-size:12px;line-height:22px;height:22px;color:#fff;background-color:#558bd9;border-radius:10px}
.filter-section{padding-left:10px}